/* Reset */
* {
	margin: 0;
	padding: 0
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #ffd9ff;
	//text-decoration: underline;
}
/* for IE 8 */
a img {
	border: none;
}


body {
	background: rgb(126,61,129);
	background: -moz-linear-gradient(top,  rgba(126,61,129,1) 0%, rgba(81,20,83,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,61,129,1)), color-stop(100%,rgba(81,20,83,1)));
	background: -webkit-linear-gradient(top,  rgba(126,61,129,1) 0%,rgba(81,20,83,1) 100%);
	background: -o-linear-gradient(top,  rgba(126,61,129,1) 0%,rgba(81,20,83,1) 100%);
	background: -ms-linear-gradient(top,  rgba(126,61,129,1) 0%,rgba(81,20,83,1) 100%);
	background: linear-gradient(to bottom,  rgba(126,61,129,1) 0%,rgba(81,20,83,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e3d81', endColorstr='#511453',GradientType=0 );

	font-family:"Helvetica Neue",Helvetica,Arial,Sans-Serif;
	line-height:22px;
	/*line-height:22px;*/
	/*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	/*font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
}

	header {
		background: url('../images/layout/header-bg.jpg');
		height: 120px;
		position: relative;
		box-shadow:inset 0px -2px 3px #bdba92;
	}

		header nav {
			width: 980px;
			margin: auto;
		}

		header img {
			position: absolute;
			top: 57px;
			z-index: 2;
		}

	#content #selected {box-shadow: 0px 1px 2px #511453, 0 3px 5px #511453}

	#content {
		width: 980px;
		margin: auto;
		position: relative;
		height: 900px;
	}

		#content img.rounds {
			position: absolute;
			top: 160px;
			left: 0px;
		}

		#content img.rounds2 {
			position: absolute;
			top: 120px;
			right: 0px;
		}

		#content img.visu {
			position: absolute;
			top: 55px;
			left: 155px;
			border-radius: 10px;
			box-shadow: 0px 3px 6px #511453;
		}

		#content div.nav {
			position: absolute;
			top: 115px;
			left: 20px;
			height: 100px;
			width: 100px;
		}

			#content div.nav p {
				color: #7e3d81;
				font-weight: bold;
			}

			#content div.nav img {
				vertical-align: middle;
			}

			#content div.nav a {
				color: #7e3d81;
				font-weight: bold;
			}
			#content div.nav a:hover {
				color: #8b6635;
				text-decoration: underline;
			}

			#content div.nav div.avant {
				position: absolute;
				top: 90px;
				left: 15px;
			}
			#content div.nav div.pendant {
				position: absolute;
				top: 120px;
				left: -13px;
			}
			#content div.nav div.apres {
				position: absolute;
				top: 145px;
				left: 12px;
			}

		#content div.nav2 {
			position: absolute;
			top: 150px;
			right: 11px;
			height: 100px;
			width: 90px;
			text-align: center;
		}

			#content div.nav2 p {
				color: #7e3d81;
				font-weight: bold;
			}

			#content div.nav img {
				vertical-align: middle;
			}

			#content div.nav2 a {
				color: #7e3d81;
				font-weight: bold;
				font-size: 13px;
			}

			#content div.nav2 a:hover {
				color: #8b6635;
				text-decoration: underline;
			}

			#content div.nav2 div.autre-presta {

			}

		#content div.home {
			background: #e0dcaf;
			width: 80px;
			text-align: center;
			padding: 7px 7px;
			border-radius: 5px;
			box-shadow: 0px 1px 2px #511453;
			position: absolute;
			right: 200px;
			top: -10px;
		}
		#content div.me {
			background: #e0dcaf;
			width: 80px;
			text-align: center;
			padding: 7px 7px;
			border-radius: 5px;
			box-shadow: 0px 1px 2px #511453;
			position: absolute;
			right: 100px;
			top: -10px;
		}
		#content div.links {
			background: #e0dcaf;
			width: 80px;
			text-align: center;
			padding: 7px 7px;
			border-radius: 5px;
			box-shadow: 0px 1px 2px #511453;
			position: absolute;
			right: 0px;
			top: -10px;
		}

			#content div.me a, #content div.home a, #content div.links a {
				text-decoration: none;
				color: #7e3d81;
			}
			#content div.me a:hover, #content div.home a:hover, #content div.links a:hover {
				text-decoration: underline;
			}

		#content div.paragraphe {
			position: absolute;
			top: 255px;
			left: 153px;
			width: 700px;
			font-weight: 200;
			letter-spacing: 1px;
			font-size: .9em;
		}
			#content div.paragraphe h1 {
				font-weight: normal;
				font-size: 1.45em;
				color: #fff;
				letter-spacing: 1px;
				border-bottom: 1px solid #fff;
				width: 100%;
				margin: 0 0 30px 0;
			}
			#content div.paragraphe h3 {
				text-align: center;
			}
			#content div.paragraphe p {
				margin: 10px 0 0 0;
				color: #ffd9ff;
			} #content ul li {color: #ffd9ff;}
				#content div.paragraphe p img {
					float: right;
					padding: 50px 0px 0 10px;
					/*width: 250px;
					padding: 10px;*/
				}
			#content div.paragraphe ul li {
				margin: 15px;
			}

	/* A propos */
	#content div.contact p.main-me {
		text-align: center;
		font-weight: bold;
	}

	#content div.contact ul {
		list-style: disc;
	}

	#content div.contact {
		color: #fff;
	}

	/* Avant */
	#content img.avant {
		position: absolute;
		top: 50px;
		right: -120px;
	}


footer {
	text-align: center;
	background: url('../images/layout/header-bg.jpg');
	box-shadow:inset 0px 5px 5px #bdba92;
}
	footer img {
		vertical-align: middle;
	}

	footer .region {
		font-size: 12px;
	}